<% layout('../layout') -%>
<h1>Создание контракта ипотечной закладной</h1>
<hr>
<div class="col-md-10 col-md-offset-1">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="bank" class="col-sm-2 control-label">Банк</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="bank" placeholder="Адрес банка" value="<%= bank %>">
            </div>
        </div>
        <div class="form-group">
            <label for="bank" class="col-sm-2 control-label">Заёмщики</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="borrower" placeholder="Адрес заёмщика" value="<%= borrowers[0] %>">
            </div>
        </div>
        <% for (var i = 1; i < borrowers.length; i++) { %>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input type="text" class="form-control" id="borrower" placeholder="Адрес заёмщика" value="<%= borrowers[i] %>">
                </div>
            </div>
        <% } %>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2"><button class="btn btn-sm btn-default">&plus;</button></div>
        </div>
        <div class="form-group">
            <label for="bank" class="col-sm-2 control-label">Депозитарий</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="depository" placeholder="Адрес депозитария" value="<%= depository %>">
            </div>
        </div>
        <div class="form-group">
            <label for="bank" class="col-sm-2 control-label">Росреестр</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="registry" placeholder="Адрес Росреестра" value="<%= registry %>">
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-success" onclick="alert('ok');">Опубликовать</button>
            </div>
        </div>
    </form>
</div>